@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lexend+Deca:wght@100..900&family=Shrikhand&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-supporters {
    background-size: 100% 100%;
}

.swiper-button-lock {
    display: block !important;
}
.bg-size-100{
    background-size: 100% 100%;
}
.swiper-pagination-bullet-active {
    background-color: #FD0786 !important;
}

.swiper-pagination-bullet {
    height: 16px !important;
    width: 16px !important;
    margin: 0px 5px !important;
}

@media (max-width:576px) {
    .swiper-pagination-bullet {
        height: 12px !important;
        width: 12px !important;
    }
}